.body {
    display: block
    }
.book_author {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.book_cover {
    height: auto;
    text-align: center;
    width: auto
    }
.book_title {
    display: block;
    font-size: 1.54839em;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 1.2;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 64px;
    text-align: center
    }
.calibre {
    display: block;
    font-family: "shucang", "shucang4sony";
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    font-family: shucang, shucang4sony;
    font-size: 1em;
    line-height: 200%;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 2em
    }
.calibre2 {
    display: block;
    font-size: 1.29032em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 48px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 48px;
    text-align: center
    }
.calibre3 {
    display: block;
    font-family: shucang, shucang4sony;
    font-size: 1em;
    line-height: 200%;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 2em
    }
.calibre4 {
    height: 48px;
    width: 131px
    }
.calibre5 {
    font-weight: bold
    }
.calibre6 {
    display: block;
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-justify-trim: punctuation
    }
.calibre7 {
    font-family: 宋体;
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre8 {
    font-family: 宋体
    }
.calibre9 {
    height: 341px;
    width: 475px
    }
.calibre10 {
    height: 177px;
    width: 487px
    }
.calibre11 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre12 {
    height: 213px;
    width: 391px
    }
.calibre13 {
    height: 332px;
    width: 415px
    }
.calibre14 {
    height: 243px;
    width: 415px
    }
.calibre15 {
    height: 143px;
    width: 396px
    }
.calibre16 {
    height: 483px;
    width: 361px
    }
.calibre17 {
    height: 376px;
    width: 368px
    }
.calibre18 {
    height: 482px;
    width: 350px
    }
.calibre19 {
    font-size: 0.83333em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre20 {
    height: 327px;
    width: 355px
    }
.calibre21 {
    height: 153px;
    width: 503px
    }
.calibre22 {
    height: 183px;
    width: 450px
    }
.calibre23 {
    height: 231px;
    width: 414px
    }
.calibre24 {
    height: 227px;
    width: 415px
    }
.calibre25 {
    height: 211px;
    width: 414px
    }
.calibre26 {
    height: 308px;
    width: 427px
    }
.calibre27 {
    font-family: "times new roman";
    font-size: 0.625em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2
    }
.calibre28 {
    height: 208px;
    width: 435px
    }
.calibre29 {
    height: 272px;
    width: 398px
    }
.calibre30 {
    height: 386px;
    width: 422px
    }
.calibre31 {
    height: 348px;
    width: 565px
    }
.calibre32 {
    height: 213px;
    width: 348px
    }
.calibre33 {
    color: red
    }
.calibre34 {
    font-size: 0.83333em
    }
.calibre35 {
    height: 199px;
    width: 396px
    }
.calibre36 {
    height: 61px;
    width: 396px
    }
.calibre37 {
    height: 196px;
    width: 391px
    }
.calibre38 {
    height: 240px;
    width: 427px
    }
.calibre39 {
    height: 194px;
    width: 439px
    }
.calibre40 {
    height: 169px;
    width: 409px
    }
.calibre41 {
    font-family: 宋体;
    font-size: 0.83333em
    }
.calibre42 {
    height: 209px;
    width: 462px
    }
.calibre43 {
    height: 482px;
    width: 462px
    }
.calibre44 {
    height: 176px;
    width: 449px
    }
.calibre45 {
    height: 351px;
    width: 438px
    }
.calibre46 {
    height: 558px;
    width: 425px
    }
.calibre47 {
    height: 338px;
    width: 426px
    }
.calibre48 {
    height: 168px;
    width: 397px
    }
.calibre49 {
    height: 131px;
    width: 415px
    }
.calibre50 {
    height: 204px;
    width: 439px
    }
.calibre51 {
    height: 216px;
    width: 319px
    }
.calibre52 {
    height: 559px;
    width: 404px
    }
.calibre53 {
    height: 124px;
    width: 415px
    }
.calibre54 {
    height: 375px;
    width: 427px
    }
.calibre55 {
    height: 525px;
    width: 387px
    }
.calibre56 {
    height: 187px;
    width: 439px
    }
.calibre57 {
    height: 333px;
    width: 379px
    }
.calibre58 {
    height: 578px;
    width: 421px
    }
.calibre59 {
    height: 516px;
    width: 383px
    }
.calibre60 {
    height: 389px;
    width: 382px
    }
.calibre61 {
    height: 188px;
    width: 415px
    }
.calibre62 {
    height: 221px;
    width: 415px
    }
.calibre63 {
    height: 249px;
    width: 451px
    }
.calibre64 {
    height: 146px;
    width: 411px
    }
.calibre65 {
    height: 256px;
    width: 455px
    }
.calibre66 {
    height: 230px;
    width: 461px
    }
.calibre67 {
    height: 227px;
    width: 416px
    }
.calibre68 {
    height: 289px;
    width: 356px
    }
.calibre69 {
    height: 315px;
    width: 372px
    }
.calibre70 {
    height: 295px;
    width: 370px
    }
.calibre71 {
    height: 310px;
    width: 369px
    }
.calibre72 {
    height: 148px;
    width: 504px
    }
.calibre73 {
    height: 459px;
    width: 498px
    }
.calibre74 {
    height: 386px;
    width: 376px
    }
.calibre75 {
    height: 361px;
    width: 669px
    }
.calibre76 {
    height: 291px;
    width: 668px
    }
.calibre77 {
    float: left;
    height: 263px;
    width: 552px
    }
.calibre78 {
    height: 166px;
    width: 375px
    }
.calibre79 {
    height: 191px;
    width: 355px
    }
.calibre80 {
    height: 150px;
    width: 343px
    }
.calibre81 {
    height: 198px;
    width: 355px
    }
.calibre82 {
    height: 181px;
    width: 377px
    }
.calibre83 {
    height: 236px;
    width: 378px
    }
.calibre84 {
    height: 279px;
    width: 377px
    }
.calibre85 {
    height: 419px;
    width: 523px
    }
.calibre86 {
    float: left;
    height: 442px;
    width: 675px
    }
.calibre87 {
    font-family: 宋体;
    font-size: 1em
    }
.calibre88 {
    height: 319px;
    width: 470px
    }
.calibre89 {
    height: 431px;
    width: 373px
    }
.calibre90 {
    font-family: 楷体_gb2312
    }
.calibre91 {
    height: 254px;
    width: 368px
    }
.calibre92 {
    height: 221px;
    width: 373px
    }
.calibre93 {
    height: 356px;
    width: 383px
    }
.calibre94 {
    height: 177px;
    width: 475px
    }
.calibre95 {
    font-family: 楷体_gb2312;
    font-size: 0.83333em
    }
.msonormal {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    font-weight: bold;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 167.25pt;
    text-justify: inter-ideograph
    }
.msonormal1 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-justify: inter-ideograph
    }
.msonormal2 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 21.75pt;
    text-justify: inter-ideograph
    }
.msonormal3 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 5.25pt;
    text-justify: inter-ideograph
    }
.msonormal4 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 26.25pt;
    text-justify: inter-ideograph
    }
.msonormal5 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    font-weight: bold;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-justify: inter-ideograph
    }
.msonormal6 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    font-weight: bold;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-justify: inter-ideograph
    }
.msonormal7 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    font-weight: bold;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 21.75pt;
    text-justify: inter-ideograph
    }
.msonormal8 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    margin-bottom: 0.0001pt;
    margin-left: 40.55pt;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph
    }
.msonormal9 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 21pt;
    text-justify: inter-ideograph
    }
.msonormal10 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    margin-bottom: 0.0001pt;
    margin-left: 22.45pt;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-justify: inter-ideograph
    }
.msonormal11 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    margin-bottom: 0.0001pt;
    margin-left: 43.5pt;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-justify: inter-ideograph
    }
.msonormal12 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 71.5pt;
    text-justify: inter-ideograph
    }
.msonormal13 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 53.25pt;
    text-justify: inter-ideograph
    }
.msonormal14 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-autospace: none;
    text-justify: inter-ideograph
    }
.msonormal15 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    font-weight: bold;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-autospace: none;
    text-justify: inter-ideograph
    }
.msonormal16 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-autospace: none;
    text-indent: 21pt;
    text-justify: inter-ideograph
    }
.msonormal17 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-autospace: none;
    text-indent: 21.75pt;
    text-justify: inter-ideograph
    }
.msonormal18 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    font-weight: bold;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-autospace: none;
    text-justify: inter-ideograph
    }
.msonormal19 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-autospace: none;
    text-indent: 24pt;
    text-justify: inter-ideograph
    }
.msonormal20 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    font-weight: bold;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-autospace: none;
    text-indent: 24pt;
    text-justify: inter-ideograph
    }
.msonormal21 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    margin-bottom: 0.0001pt;
    margin-left: 18pt;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph
    }
.msonormal22 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    margin-bottom: 0.0001pt;
    margin-left: 33.75pt;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph
    }
.msonormal23 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    margin-bottom: 0.0001pt;
    margin-left: 15.75pt;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-justify: inter-ideograph
    }
.msonormal24 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    font-weight: bold;
    margin-bottom: 0.0001pt;
    margin-left: 15.75pt;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-justify: inter-ideograph
    }
.msonormal25 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    font-weight: bold;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-autospace: none;
    text-justify: inter-ideograph
    }
.msonormal26 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-autospace: none;
    text-justify: inter-ideograph
    }
.msonormal27 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-autospace: none;
    text-indent: 21pt;
    text-justify: inter-ideograph
    }
.msonormal28 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    margin-bottom: 0.0001pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-justify: inter-ideograph
    }
.msonormal29 {
    display: block;
    font-family: "times new roman", "serif";
    font-size: 0.77419em;
    margin-bottom: 0.0001pt;
    margin-left: 21pt;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-justify: inter-ideograph
    }
.p_copyright {
    display: block;
    font-family: shucang, shucang4sony;
    font-size: 0.77419em;
    line-height: 200%;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 2em
    }
.wordsection {
    display: block;
    layout-grid: 15.6pt;
    page: wordsection1
    }
